inventory/__init__.py
inventory/migrations/__init__.py
inventory_management/__init__.py
inventory_management/__pycache__/__init__.cpython-312.pyc
inventory_management/__pycache__/settings.cpython-312.pyc
inventory_management/__pycache__/urls.cpython-312.pyc
inventory_management/__pycache__/wsgi.cpython-312.pyc
inventory/__pycache__/__init__.cpython-312.pyc
inventory/__pycache__/admin.cpython-312.pyc
inventory/__pycache__/apps.cpython-312.pyc
inventory/__pycache__/models.cpython-312.pyc
inventory/__pycache__/urls.cpython-312.pyc
inventory/__pycache__/views.cpython-312.pyc
inventory/migrations/__pycache__/__init__.cpython-312.pyc
