{% extends 'inventory/base.html'%}

{% block title %}
    <title>Dashboard</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto mt-5">
                <div class="d-flex justify-content-end">
                    <a href="#" class="btn btn-primary">+</a>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>    
                            <th scope="col">NAME</th>    
                            <th scope="col">QTY</th>    
                            <th scope="col">CATEGORY</th>    
                            <th scope="col"></th>    
                            <th scope="col"></th>    
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% if items %}
                                {% for item in items %}
                                    <th scope="row">{{item.id}}</th>
                                    <td>{{item.name}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.category}}</td>
                                    <td>-</td>
                                    <td>-</td>
                                {% endfor %}
                            {% else %}
                            <th scope="row">-</th>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}